[submodule "lib/dht"]
	path = lib/dht
	url = https://github.com/jech/dht.git
[submodule "lib/czmq"]
	path = lib/czmq
	url = git://github.com/zeromq/czmq
[submodule "lib/libzmq"]
	path = lib/libzmq
	url = https://github.com/zeromq/libzmq
